- content_for :javascript_includes do
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css'
  = stylesheet_link_tag '//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css'
  = javascript_include_tag "//api-maps.yandex.ru/2.1/?lang=ru_RU"
  = javascript_include_tag "//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js", debug: false
  = javascript_include_tag "games/timepicker.js", debug: false
  = javascript_include_tag "games/new.js", debug: false
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js", debug: false
  = javascript_include_tag "games/select_picker_locale.js", debug: false
#game_playgrounds_map.map-fixed
.row
  .col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-sm-5.col-xs-5.col-sm-offset-1.col-xs-offset-1
    .ibox
      .ibox-title
        %h3 Создание игры
      .ibox-content
        = form_for @game do |f|
          = label_tag :name, "Название"
          = f.text_field :name, value: "Supergame #{Time.now}", class: "form-control"
          - types_ary = []
          - @types.each {|type| types_ary.push([type.name.to_s.capitalize, type.id]) }
          = label_tag :type,'Вид спорта'
          = select_tag 'game[type_id]', options_for_select(types_ary), class:'form-control'
          - opts = Rails.cache.fetch('playgrounds_select_tag_options') do
            - playgrounds_ary = []
            - @playgrounds.each {|playground| playgrounds_ary.push([playground.address.to_s, playground.id]) }
            - options_for_select(playgrounds_ary)
          = label_tag :playground_id, "Игровая площадка"
          = select_tag 'game[playground_id]', opts, class:"form-control"
          = label_tag :datepicker,'Дата'
          %input#datepicker.form-control.datetime-input{:type => "text"}
          = label_tag :timepicker,'Время'
          %input#timepicker.time.ui-timepicker-input.datetime-input.form-control{:autocomplete => "off", :type => "text"}/
          %input#game_date_time.hidden{:name => "game[game_date_time]", :type => "datetime", :value => "#{Time.now.strftime('%Y-%m-%dT%H:%M')}"}/
          = label_tag :name, "Пригласить друзей"
          .row
            .col-md-12
              .form-group
                %select.selectpicker.form-control{:multiple => "multiple", :name => "players_to_invite[]"}
                  - current_player.friends.each do |friend|
                    %option{:value => "#{friend.id}"}= friend.name
          %button.btn.btn-default.btn-default.btn-outline.btn-block{type: 'submit'}
            %span Cоздать
